/* reset */
* {
  padding: 0;
  margin: 0;
  outline: none;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
body {
  position: relative;
  background-color: #fff;
  color: #4d4d4d;
  font-family: segoe UI, PingFang SC, Microsoft Yahei, arial, Helvetica, "sans-serif";
  font-size: 14px;
  font-style: normal;
  overflow-x: hidden;
  overflow-y: auto;
}
ol,
ul {
  list-style: none;
}
button,
input,
textarea {
  font-family: segoe UI, PingFang SC, Microsoft Yahei, arial, Helvetica, "sans-serif";
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
